﻿<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(BlankLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(ErrorPageLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
<MatPortalHost></MatPortalHost>