@inject IStateService _state

<MatAppBarContainer Style="height: 100vh">
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatIconButton Icon="menu" OnClick="@(() => {DrawerOpened = !DrawerOpened;})"></MatIconButton>
                <MatAppBarTitle>Club 100 Juta - Member Area</MatAppBarTitle>
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                <MatIconButton Icon="exit_to_app" OnClick="@LogoutHandler"></MatIconButton>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>

    <MatAppBarContent>
        <MatDrawerContainer Style="height: 100%;">
            <MatDrawer @bind-Opened="@DrawerOpened">
                <MatNavMenu>
                    <MatNavSubMenu>
                        <MatNavSubMenuHeader>
                            <MatNavItem Style="width: 100%; height: 100%; overflow: hidden;"><MatIcon Icon="person"></MatIcon>&nbsp; <span>@_member.NamaMember</span></MatNavItem>
                        </MatNavSubMenuHeader>
                        <MatNavSubMenuList>
                            <MatNavItem Style="font-weight: 500;">@(_member.KodeMember ?? 1)</MatNavItem>
                            <MatNavItem Style="font-weight: 500;">@(_member.NamaLevelMember ?? "")</MatNavItem>
                        </MatNavSubMenuList>
                    </MatNavSubMenu>
                    <MatDivider></MatDivider>
                    <MatNavItem Href="/uploadcha"><MatIcon Icon="backup"></MatIcon>&nbsp; Upload CHA</MatNavItem>
                    <MatNavItem Href="/daftarupload"><MatIcon Icon="view_list"></MatIcon>&nbsp; Daftar Upload</MatNavItem>
                    <MatDivider></MatDivider>
                    <MatNavItem OnClick="@LogoutHandler"><MatIcon Icon="exit_to_app"></MatIcon>&nbsp; Logout</MatNavItem>
                </MatNavMenu>
            </MatDrawer>
            <MatDrawerContent Style="background-color: #FAFAFA; height: 100%;">
                <div style="height: 100%;">
                    @ChildContent
                </div>
            </MatDrawerContent>
        </MatDrawerContainer>
    </MatAppBarContent>
</MatAppBarContainer>

<MatToastContainer></MatToastContainer>

@code{

    private bool DrawerOpened = true;

    [Parameter]
    public RenderFragment ChildContent {get; set;}

    private MemberAuth _member = new MemberAuth{};

    private async Task LogoutHandler(){
        await _state.LogoutAsync();
    }
    protected override async Task OnInitializedAsync(){
        _member = await _state.GetCurrentUserAsync();
    }

}