@page "/daftarupload"

@inject HttpClient _http
@inject IMatToaster _toaster
@inject ISecureLocalStorage _secureStorage
@inject IJSRuntime _JS
@inject IStateService _state

<DashboardBase>
    <div style="box-sizing: content-box; padding: 1.25rem;">
        <MatTable Items="@sortedCHA" PageLabel="Halaman" PageRecordCountLabel="Item per halaman" AllowSelection="true" OnRowDbClick="@showDokumenCHAHandler" Style="display: table; table-layout: auto;" UseSortHeaderRow="true">
            <MatTableHeader>
                <MatSortHeaderRow SortChanged="@SortHandler">
                    <MatSortHeader SortId="tglUpload">Tgl-Upload</MatSortHeader>
                    <MatSortHeader SortId="namaMember">Nama-Member</MatSortHeader>
                    <MatSortHeader SortId="tglPengujian">Tgl-Pengujian</MatSortHeader>
                </MatSortHeaderRow>
            </MatTableHeader>
            <MatTableRow>
                <td style="width: auto;">@(context.TglUpload.Format("dd-MM-yyyy"))</td>
                <td style="width: auto;">@($"{context.KodeMember} - {context.NamaMember}")</td>
                <td style="width: auto;">@(context.TglPengujian.Format("dd-MM-yyyy")) </td>
            </MatTableRow>
        </MatTable>
    </div>
</DashboardBase>

@code{

}