@page "/dashboard"

@inject NavigationManager _navMgr
@inject IStateService _state
@inject IMatToaster _toaster

<DashboardBase>
    <div class="mat-layout-grid" style="height: 100%;">
        <div class="mat-layout-grid-inner" style="height: 100%;">
            <div class="mat-layout-grid-cell-span-6" style="height: 100%;">
                <MatButton Icon="backup" OnClick="@(_ => _navMgr.NavigateTo("uploadcha"))" Style="font-size: 120%; width: 100%; height: 100%;">Upload CHA</MatButton>
            </div>
            <div class="mat-layout-grid-cell-span-6" style="height: 100%;">
                <MatButton Icon="list_alt" OnClick="@(_ => _navMgr.NavigateTo("daftarupload"))" Style="font-size: 120%; width: 100%; height: 100%;">DAFTAR UPLOAD</MatButton>
            </div>
        </div>
    </div>
</DashboardBase>

@code
{
    protected override async Task OnInitializedAsync()
    {
        await _state.RouteDefault();
    }
}