@page "/login"

@inject NavigationManager _navMgr
@inject IMatToaster _toaster
@inject HttpClient _http
@inject IStateService _state
@inject ISecureLocalStorage _secureStorage

<div style="height: 100vh; display: flex; place-items: center; place-content: center; background-color: #FAFAFA">
    <div class="mat" style=" background-color: #FFFFFF; width: 24rem; padding: 2.5rem; box-shadow: 0 4px 6px rgba(0,0,0,0.1); border-radius: 0.5rem">
        <div style="text-align: center; font-size: 2.25rem; line-height: 2.5rem; margin-top: 1.25rem; margin-bottom: 2.5rem">CLUB 100 JUTA</div>
        <div style="position: relative; height: 1px; background-color: #EEEEEE">
            <div style="position: absolute; left: 0px; top: 0px; margin-top: -0.5rem; display: flex; justify-content: center; width: 100%;">
                <span style="padding-left: 1.25rem; padding-right: 1.25rem; font-size: 0.75rem; line-height: 1rem; color: #A8A8A8; text-transform: uppercase; background-color: #ffffff">Login</span>
            </div>
        </div>
        <div style="margin-top: 1.25rem; margin-bottom: 1.25rem;">
            <MatTextField Style="width: 100%; margin-top: 0.5rem; margin-bottom: 0.5rem;" @bind-Value="@Username" Label="Kode Member" FullWidth="true"></MatTextField>
            <MatTextField Style="width: 100%; margin-top: 0.5rem; margin-bottom: 0.5rem;" @bind-Value="@Password" Label="Password" FullWidth="true" Type="password" ></MatTextField>
        </div>
        <div style="margin-top: 2.5rem; margin-bottom: 1.25rem;">
            <MatButton Style="width: 100%"Icon="launch" Raised="true" OnClick="@loginHandler">Login</MatButton>
        </div>

    </div>

</div>


@code
{

    private string Username;
    private string Password;

    protected override async Task OnInitializedAsync(){
        // Check Auth
        await _state.RouteDefault();
    }

    // Login CLick Handler
    private async Task loginHandler()
    {
        await LoginAsync(Username,Password);
    }


    // Login
    private async Task<bool> LoginAsync(string username, string password)
    {

        var content = new FormUrlEncodedContent(new[]
        {
            new KeyValuePair<string, string>("token", Constans.staticToken),
            new KeyValuePair<string, string>("username", username),
            new KeyValuePair<string, string>("password", password),
        });

        var res = await _http.PostAsync("gateway/login", content);

        // HTTP Error
        if(!res.IsSuccessStatusCode){
            return false;
        }

        var konten = await res.Content.ReadAsStringAsync();
        // Console.WriteLine(konten);

        var jobj = JObject.Parse(konten);

        // Login success
        if(!(bool)jobj["sts"])
        {
            _toaster.Add("Cek Username dan Password anda", MatToastType.Danger, "Gagal Login", "error_outline");
            return false;
        }

        // punya_alat != 1
        // User dosn't have privilage
        var punyaAlat = ((int)jobj["data"]["punya_alat"] == 1) ? true : false;
        if(!punyaAlat)
        {
            _toaster.Add("Anda tidak memiliki privilage", MatToastType.Danger, "Gagal Login", "error_outline");
            return false;
        }

        // Store member user data into secure storage
        var member = new MemberAuth
        {
            IdMember = (int)jobj["data"]["id_member"],
            KodeMember = (int)jobj["data"]["kode_member"],
            NamaMember = (string)jobj["data"]["nama_member"],
            IdLevelMember = (int)jobj["data"]["id_level_member"],
            NamaLevelMember = (string)jobj["data"]["nama_level_member"],
            PunyaAlat = punyaAlat,
            Token = new Token
            {
                LoadData = (string)jobj["token"]["load_data"],
                SendData = (string)jobj["token"]["send_data"]
            }
        };

        await _secureStorage.SetItemAsync("var", member);

        await _state.RouteDefault();

        return true;
    }

}