@page "/uploadcha"

@inject IJSRuntime _JS;
@inject HttpClient _http;
@inject IMatToaster _toaster;
@inject IMatDialogService _dialogService;
@inject IStateService _state

<DashboardBase>
    <div style="box-sizing: content-box; padding: 1.25rem;">
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-9-desktop mat-layout-grid-cell-span-8-tablet mat-layout-grid-cell-span-4-phone mat-layout-grid-cell-align-bottom">
                    <MatTextField @bind-Value="@_selectedNamaMember" ReadOnly="true" Outlined="true" FullWidth="true" Label="Member" Style="height: 100%"></MatTextField>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3-desktop mat-layout-grid-cell mat-layout-grid-cell-span-8-tablet mat-layout-grid-cell-span-4-phone mat-layout-grid-cell-align-bottom">
                    <MatButton Raised="true" OnClick="@showCariMemberDialogHandler" Icon="search" Style=" width: 100%;">Cari Member</MatButton>
                </div>
            </div>
        </div>
        <div class="mat-layout-grid">
            <MatDatePicker @bind-Value="@_tglPengujian" Format="dd-MM-yyyy" FullWidth="true" Outlined="true" Label="Tanggal Pengujian"></MatDatePicker>
        </div>
        <div class="mat-layout-grid">
            <MatFileUpload @ref="_filePicker" AllowMultiple="false" OnChange="@matFileUploadOnChanged" Label="Pilih File CHA / Drop di sini"></MatFileUpload>
            <div style="display: @(_ready ? "block" : "none");">
                <MatButton Raised="true" Disabled="@(!_ready)" OnClick="@uploadChaHandler" Style="width: 100%; margin-top: 1rem;">Upload</MatButton>
                <MatButton OnClick="@cancelHandler" Style="width: 100%; margin-top: 1rem;">Cancel</MatButton>
            </div>
            <canvas id="pdfviewer" style="margin-top: 1rem; width: 100%; display: @(_ready ? "block" : "none"); "></canvas>
        </div>
    </div>
    <MatDialog @ref="@_cariMemberDialog">
        <MatDialogTitle>Cari Member</MatDialogTitle>
        <MatDialogContent>
            <MatTextField @bind-Value="@_cariMemberText" Label="Input Kode / Nama Member" FullWidth="true" OnKeyUp="@cariMemberHandler"></MatTextField>
            <MatTable Items="@_sortedMembersCari" PageLabel="Halaman" PageRecordCountLabel="Item per halaman" AllowSelection="true" OnRowDbClick="@pilihMemberHandler" UseSortHeaderRow="true">
                <MatTableHeader>
                    <MatSortHeaderRow SortChanged="@SortHandler">
                        <MatSortHeader SortId="kodeMember">Kode-Member</MatSortHeader>
                        <MatSortHeader SortId="namaMember">Nama-Member</MatSortHeader>
                    </MatSortHeaderRow>
                </MatTableHeader>
                <MatTableRow>
                    <td>@context.KodeMember</td>
                    <td>@context.NamaMember</td>
                </MatTableRow>
            </MatTable>
        </MatDialogContent>
        <MatDialogActions>
        </MatDialogActions>
    </MatDialog>
</DashboardBase>

@code{

}